<div class="contents row">
  <div class="container">
    <h3>編集する</h3>
    <%= form_with(model: @thought, local: true) do |f|%>
      <div class="field">
        <%= f.label :title, "タイトル" %><br />
        <%= f.text_field :title %>
      </div>

      <div class="field">
        <%= f.label :content, "内容" %><br />
        <%= f.text_area :content, class: :form__text %>
      </div>

      <div class="actions">
        <%= f.submit "保存する", class: :form__btn  %>
      </div>
    <% end %>
  </div>
</div>