<!DOCTYPE html>
<html>
  <head>
    <title>ThoughtApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to "ThoughtApp", root_path, class: :logo %></h1>
            <div class="nav__right"> 
            <% if user_signed_in? %>
              <%= link_to "ログアウト", destroy_user_session_path, class: :nav__logout, method: :delete %>
              <%= link_to "新規投稿", new_thought_path, class: :nav__btn %>
            </div>
            <% else %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
            <% end %>
    <%= yield %>
  </body>
</html>
